/*
  Basic Grid Function
 */

$columns: (
        1: 100%,
        2: 50%,
        3: 33.33%,
        4: 25%,
        5: 20%,
        6: 16.66%,
        7: 14.28%,
        8: 12.5%,
        9: 11.11%
);

$offset-columns :(
      3: 66.66%,
      4:75%,
      5:80%,
      6:83.34%,
      7:85.72%,
      8:87.5%
);

$columns__margin: 3.8%;

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-right: ($columns__margin /2);
  padding-left: ($columns__margin /2);
  margin-right: auto;
  margin-left: auto;
}

.col-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: ($columns__margin /-2);
  margin-left: ($columns__margin /-2);
}

@each $col, $width in $columns {
  .col-#{$col} {
    flex: 0 0 $width;
    max-width: $width;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: ($columns__margin /2);
    padding-left: ($columns__margin /2);
  }
}
@each $col, $width in $offset-columns {
  .col-#{$col}-offset {
    flex: 0 0 $width;
    max-width: $width;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: ($columns__margin /2);
    padding-left: ($columns__margin /2);
  }
}