.site-header{
  position: relative;
  .site-branding{
    text-align: center;
    .site-title{
      margin-bottom: 0;
      a{
        text-decoration: none;
        color: black;
      }
    }
    .site-description{
      margin-top: 0;
    }
  }

}