.site-header{
  position: relative;
  .site-branding{
    text-align: center;
    .site-title{
      margin-bottom: 0;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  .header-left{
    position: absolute;
    left:0;
    top:0;
  }
  .header-right{
    position: absolute;
    right:0;
    top:0;
  }
}