.site-header{
  position: relative;
  background: $color__background-block;
  .site-branding{
    text-align: center;
    h1{
      a{
        text-decoration: none;
        color: $color_text-light;
      }
    }
  }
}